<div class="article">

  <p><img src="{{article.imageUrl}}" width="300px"></p>
  <div class="sub-content">
    {{article.title}}, {{article.author}}
  </div>
  {{#link-to 'article' article.id}}<button>See full article</button>{{/link-to}}
  {{update-article article=article updateArticle = "
  updateArticle"}}
  <button{{action 'delete' article}}>Delete</button>

</div>
