{{#if newCommentForm}}

    <div class="form-content">
      <h1>Add a comment</h1>
      <form>
        <div class="form-group">
          <label for="contributor">Your Name:</label><br>
          {{input value=contributor id="contributor"}}
        </div>
        <div class="form-group">
          <label for="contents">write here</label><br>
          {{textarea value=contents id="contents"}}
        </div>

        <button {{action 'saveComment'}}>Add</button>
      </form>
    </div>
{{else}}
    <button {{action 'commentFormShow'}}>Add Comment</button>
{{/if}}
